<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>19.0f2</Version>
<Cluster>
<Name>Settings</Name>
<NumElts>3</NumElts>
<Path>
<Name>TDMS Filepath</Name>
<Val>C:\Users\Lorenzo\Desktop\Sample data\Fz_Vapp_020000_Vret_006000_20230623.17.47.04.447_033.tdms</Val>
</Path>
<Path>
<Name>TDMS Directory</Name>
<Val>C:\Users\Lorenzo\Desktop\25102023_PFQNM_VCAM1_THP1\25102023_PFQNM_VCAM1_THP1\Cell2</Val>
</Path>
<Boolean>
<Name>Dir?</Name>
<Val>1</Val>
</Boolean>
</Cluster>
</LVData>